extends: default
ignore:
  - templates/
  - templates/**
  - "**/templates/**"
rules:
  document-start: disable
  line-length:
    max: 80
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
